@(implicit request: RequestHeader)
@import helper._

@main("Blackjack") {
        <div class="add-player-form">
            <form action = "/addPlayer" method="post">
                @CSRF.formField
                <label class="input-field">
                    <input
                        type ="text"
                        name="PlayerForm"
                        placeholder="Enter player name"
                    >
                </label>
                <button class="button">Add Player</button>
            </form>
        </div>
}