@(gameController: controller.controllerComponent.ControllerInterface)

@main("Blackjack") {
    <div style="text-align: center">
        <div style ="display:flex; flex-direction: column; justify-content: center; gap: 10px;">

            <div style="display: flex; justify-content: center; flex-direction: row">
                @views.html.dealer(gameController.getGame.getDealer)
            </div>

            <div style="display: flex; flex-direction: row; justify-content: center; gap 10px">
                @for(player <- gameController.getGame.getPlayers) {
                    @views.html.player(player)
                }
            </div>
            <form action = "/addPlayerForm" method="get">
                <button style="
                    width: 150px;
                    height: 40px;
                    padding:10px 20px;
                    background-color:#28a745;
                    color:white;
                    border:none;
                    border-radius:5px;
                    cursor:pointer;">
                    Add Player
                </button>
            </form>
            <form action ="/initializeGame" method="get">
                <button style="
                    width: 150px;
                    height: 40px;
                    padding:10px 20px;
                    background-color:#28a745;
                    color:white; border:none;
                    border-radius:5px;
                    cursor:pointer;">
                    Reset
                </button>
            </form>
            <form action ="/toHistory" method="get">
                <button style="
                    width: 150px;
                    height: 40px;
                    padding:10px 20px;
                    background-color:#28a745;
                    color:white; border:none;
                    border-radius:5px;
                    cursor:pointer;">
                    To History
                </button>
            </form>
        </div>
    </div>
    <pre>@gameController.toString</pre>
}