@(title: String)(implicit request: RequestHeader)

@import helper._

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>@title</title>
    <link rel="shortcut icon" type="image/png" href='@routes.Assets.versioned("images/favicon.png")'>

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>

    <!-- helper classes import -->
    <script src="@routes.Assets.versioned("javascript/util/WebSocketManager.js")"></script>
    <script src="@routes.Assets.versioned("javascript/util/GameUtils.js")"></script>
    <script src="@routes.Assets.versioned("javascript/util/APIService.js")"></script>

    <!-- bootstrap -->
    @Html("""
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
        """)

    <!-- custom styles -->
    <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("stylesheets/main.css")'>
</head>
<body>
    <!-- Add CSRF token here (outside Vue app, but in DOM) -->
    @CSRF.formField
    
    <div id="app"></div>

    <!-- Vue.js 3 from CDN -->
    @Html("""<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>""")

    <!-- components -->
    <script src="@routes.Assets.versioned("javascript/vue/Card.js")"></script>
    <script src="@routes.Assets.versioned("javascript/vue/Hand.js")"></script>
    <script src="@routes.Assets.versioned("javascript/vue/Player.js")"></script>
    <script src="@routes.Assets.versioned("javascript/vue/Dealer.js")"></script>
    <script src="@routes.Assets.versioned("javascript/vue/PlayerControls.js")"></script>
    <script src="@routes.Assets.versioned("javascript/vue/GameControls.js")"></script>



    <!-- Your Vue app -->
    <script src="@routes.Assets.versioned("javascript/vue/Client.js")"></script>
</body>
</html>