@(dealer: model.dealerComponent.DealerInterface)
@import model.cardComponent.Card

<div
    class="dealer"
    style="
        width: 600px;
        height: 180px;
        padding: 15px;
        margin: 10px;
        border: 2px solid #28a745;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        text-align: center;
        font-family: Arial, sans-serif;
        align-items: center;
    ">
    <p style="color: #cccccc">Dealer</p>

    <div style="display: flex; flex-direction: row; align-items: center; gap: 10px; justify-content: center">

        @for(card <- dealer.getHand.getCards) {
            @views.html.card(card)
        }

        @if(dealer.getHand.getCards.length == 1) {
            @views.html.card(Card("blank", "blank"))
        }
    </div>

    @if(dealer.getHand.getCards.length != 0) {
        <p style="color: #cccccc">Value: @dealer.getHand.getHandValue</p>
    }

</div>