@(
        player: model.playerComponent.PlayerInterface,
        currentPlayer: Boolean,
        gameController: controller.controllerComponent.ControllerInterface
)(implicit request: RequestHeader)
@import helper._
@import model.gameComponent.GameState.{Betting, Started, Evaluated, Initialized}
@import model.playerComponent.PlayerState.{Busted, Blackjack, WON, LOST, DoubledDown, Standing}

<div class="player @if(currentPlayer && (gameController.getGame.getState == Betting || gameController.getGame.getState == Started)){current-player}">

    <p class="player-name">@player.getName</p>

    <div class="cards-container">
        @for(card <- player.getHand.getCards) {
            @views.html.card(card)
        }
    </div>

    <div class="hand-info">
        @if(player.getHand.getCards.nonEmpty){
            <span>@player.getHand.getHandValue</span>
            @{player.getState match {
                case Blackjack => <span>- Blackjack</span>
                case Standing => <span>- Standing</span>
                case Busted => <span>- Busted</span>
                case WON => <span>- you won</span>
                case LOST => <span>- you lost</span>
                case DoubledDown => <span>Doubled Down</span>
                case _ =>
            }}
        }
    </div>

    <div class="money-bet-display">
        <span>@player.getMoney</span>
        <img
            class="dollars-icon"
            src="@routes.Assets.versioned("images/icons/dollars.png")"
            alt="Dollars"
        >
        <span>@player.getBet</span>
        <img
            class="chip-icon"
            src="@routes.Assets.versioned("images/icons/casino-chip.png")"
            alt="Casino Chip"
        >
    </div>

    <div class="player-actions">
        <!--BETTING-->
        @defining(gameController.getGame.getState == Betting && currentPlayer) { showBetForm =>
            @if(showBetForm) {
                <div class="bet-form-container">
                    <form action="/bet" method="post">
                        @CSRF.formField
                        <label>
                            <input
                                type="text"
                                name="BetForm"
                                placeholder="Enter bet"
                            >
                        </label>
                        <button type="submit">Bet</button>
                    </form>
                </div>
            }
        }

        @defining(gameController.getGame.getState == Started && currentPlayer) { started =>
            @if(started) {
                <form action="/standNextPlayer" method="get">
                    <button type="submit" class="stand-button">Stand</button>
                </form>

                @if(player.getHand.canHit) {
                    <form action="/hitNextPlayer" method="get">
                        <button type="submit" class="hit-button">Hit</button>
                    </form>
                }

                @if(player.getHand.canDoubleDown) {
                    <form action="/doubleDown" method="get">
                        <button type="submit" class="double-down-button">Double Down</button>
                    </form>
                }
            }
        }

        <form action="/leavePlayer" method="get">
            <button type="submit" class="leave-button">X</button>
        </form>
    </div>
</div>